/{  
    aliases {
        rtc = &rtc0;
        gassensor = &ccs811;
        temphumsensor = &hts221;
        pressuresensor = &lps22hb_press;
    };

    buttons {
        button0: button_0 {
            status = "okay";
        };
    };
};

&rtc0 {
    status = "okay";
	compatible = "nordic,nrf-rtc";
};

&i2c0 {
    ccs811: ccs811@5a {
		status = "okay";
	};

    hts221: hts221@5f {
		status = "okay";
    };

    lps22hb_press: lps22hb_press@5c {
		status = "okay";
    };

};